{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Оплата</h2>
    <h5>Вы оплачиваете свою покупку наличными деньгами и получаете все официальные документы: чек об оплате, подтверждающий факт покупки, гарантийный талон, технический паспорт и инструкцию по эксплуатации.</h5>
    <h5>Оплата принимается исключительно в белорусских рублях. Мы будем очень Вам благодарны, если Вы сэкономите время себе и нашему экспедитору, собрав сумму заказа без сдачи.</h5>
</body>
</html>
{% endblock content %}