
{% extends 'base.html' %}

{% block content %}
<div class="row">
        {% for product in object_list %}
            <div class="col-sm-4">
                <div class="card" style="height:400px;" >
<!--                    <div class="row d-inline-flex ">-->
                            <div class="card-image product " style="height:150px;">
                                    <a href="{% url 'product' product.idd %}"><img style="height:140px; width:auto; margin-left: auto; margin-right: auto; margin-top: 5%; padding-left:1rem; padding-right:1rem;" src="/static/images/{{product.idd}}.jpg" alt="{{product.model}}"></a>
                            </div>
                            <div class="card-content" style="height:130px;">
                                <a href="{% url 'product' product.idd %}"><p>{{product.1}}</a>
                                <p>{{product.name}}</p>
                                <h4>{{product.model}}</h4>
                            </div>
                            <div class="card-content" style="height:70px;">
                                <button type="submit" style="width:100%; padding: 0 20% 0px 15%;"  class="btn">Оставить заявку</button>
                            </div>
                            <div class="card-action" style="height:50px;">
                                <a href="{% url 'product' product.idd %}"> Цена: {{product.price}}</a>
                            </div>
<!--                        </div>-->
                </div>
            </div>
        {% empty %}
        <li>Sorry, no athletes in this list.</li>
        {% endfor %}
    </div>

{% include 'include/pagination.html' %}

{% endblock content %}