{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--<div class="col-sm-12">-->
<h4 class="main-text" style="padding-bottom:10pt;"><strong>{{product.name|capfirst}}</strong></h4>
        <div class="my-product">
            <div class="row ">
                <div class="col-12 col-sm-5">
                    <div class="card-image product" style="text-align:center;">
                            <img src="/static/images/products/{{product.img_id}}.jpg" onError="this.src='/static/images/logo.png'" alt="{{product.name}}">
                    </div>
                </div>
                <div class="col-12 col-sm-7">
                      <div class="row" style="padding-top:20pt">
                          <div class="col-7"><p><b>Артикул - {{ product.article }} </b></p></div>
                          <div class="col-4 ml-auto"><strong class="model main-text">{{product.model}} </strong></div>
                      </div>

                    <div class="row col-12">
                        <h4 class="main-color"> <strong>{{product.price}} р.</strong></h4>
                        <button type="button" class="btn buy-all feedback-button popup" style="top: 45%; left: 70%;">Оставить заявку</button>
                    </div>
                     <div class="row col-12">
                        <div class="_item">  <i class="material-icons">check</i> <p class="icon-text">В наличии</p></div>
                     </div>
                    <div class="row col-12" style="padding-top:5pt;">
                        <i class="material-icons" style="padding-top:7px;  margin-right:2px;">attach_money</i>
                        <p class="icon-text" style="margin:5pt;"><strong>Способы оплаты: </strong> </p><p class="icon-text" style="margin:5pt;"> наличный и безналичный расчет</p>
                    </div>
                    <div class="row col-12">
                        <i class="material-icons" style="padding-top:7px;  margin-right:2px;">payment</i>
                        <p class="icon-text payment-methods" style="margin:5pt;"><strong>Банковские карты:</strong></p>
                        <p><img src="{% static 'images/payment/visa.png' %}" style="width:40px; heigth:auto; margin-left:2px;">
                        <img src="{% static 'images/payment/mastercard.png' %}" style="width:40px; margin-left:2px;">
                        <img src="{% static 'images/payment/maestro.png' %}" style="width:40px; margin-left:2px;">
                        <img src="{% static 'images/payment/belcard.svg' %}" style="width:40px; margin-left:2px;">
                    </div>
                    <div class="row col-12"><small>
                    *При оплате в рассрочку или картой рассрочки отменяются действующие скидки.</small>
                    </div>
                </div>
            </div>
            <div class="container col-12 full_info">
                <h5 class="main-text product-text">{{product.description|safe}}</h5>
            </div>
    </div>
<!--</div>-->


{% endblock content %}