    <div class="row justify-content-between contact-info-under-search main-text">
        <div class="col-auto  mr-auto we-work">
            <strong>Мы работаем:</strong> <br>с 9.00 до 21.00
        </div>
        <div class="col-auto">
            <div class="_contact-info">
                <div class="_item">  <i class="material-icons">phone</i> <p class="icon-text">+375 (29) 658 27 76</p></div>
                <div class="_item">
                    <i class="material-icons">email</i>  <p class="icon-text">irateh@mail.ru</p>
                </div>
            </div>
        </div>
    </div>