 <h3 class="name-form">ОСТАВИТЬ ЗАЯВКУ</h3>
 {{request.path}}
<form class='p-3' action='{{request.path}}feedback/' method="POST">
    {% csrf_token %}
      <div class="form-group ">
        <label for="exampleInputEmail1">Email*</label>
        <input name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите ваш Email">
      </div>
      <div class="form-group">
        <label for="exampleInputNumber">Номер телефона*</label>
        <input name="phone" class="form-control" id="exampleInputNumber" aria-describedby="emailHelp" placeholder="Введите ваш номер телефона">
      </div>
      <div class="form-group">
        <label for="exampleNameNumber">Имя</label>
        <input name="name" class="form-control" id="exampleNameNumber" aria-describedby="emailHelp" placeholder="Необязательно">
      </div>
      <div class="form-group">
        <label for="exampleInputDescription">Описание</label>
        <input name="description" class="form-control" id="exampleInputDescription" aria-describedby="emailHelp" placeholder="Необязательно">
      </div>
      <div class="form-group">
        <label for="exampleInputTime">Удобное время</label>
        <input name="call_time" class="form-control" id="exampleInputTime" aria-describedby="emailHelp" placeholder="Необязательно">
      </div>
      <div class="card-content" style="height:70px;">
          <button type="submit" style="width:100%; padding: 0 20% 0px 15%; background-color:var(--grey-color); color: white;"  class="btn">Перезвонить</button>
      </div>
      <h5 class="wrong_fields">{% if "/wrong_field" in request.path %}<script> alert('Введены неверные данные')</script>{%endif %}</h5>
</form>