<div class=".container-fluid wrap_main">
  <footer class="page-footer grey-background">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">BTV777 </h5>
            <h6 class="white-text"> irateh@mail.ru</h6>
            <h6 class="white-text"> +375445014898</h6>
            <h6 class="white-text"> Заказать звонок</h6>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Меню</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href='/main' {% if request.path == '/main' %}class="current"{%endif %}>Главная</a></li>
              <li><a class="grey-text text-lighten-3" href="/catalog" {% if "/catalog" in request.path %}class="current"{%endif %}>Каталог</a></li>
              <li><a class="grey-text text-lighten-3" href='/payment' {% if request.path == '/payment' %}class="current"{%endif %}>Оплата</a></li>
              <li><a class="grey-text text-lighten-3" href="/contacts" {% if request.path == '/contacts' %}class="current"{%endif %}>Контакты</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2020 BTV777
        <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
      </div>
    </footer>
</div>