<ul class="left_menu">
    <h3>Каталог</h3>
    <li><a href="/catalog/stove">Варочные панели</a></li>
    <li><a href="/catalog/hods">Вытяжки</a></li>
    <li><a href="/catalog/ovens">Духовые шкафы</a></li>
    <li><a href="/catalog/microwaves">Микроволновые печи</a></li>
    <li><a href="/catalog/dishwashers">Посудомоечные машины</a></li>
    <li><a href="/catalog/refrigerators">Холодильники</a></li>
    <li><a href="/catalog/washer">Стиральные машины</a></li>
    <li><a class="last" href="/catalog/tv">Телевизоры</a></li>
</ul>