<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>contacts</title>
  <style>
.icon-text{
vertical-align: super;
display: inline;
}
.material-icons{
font-size:2rem;}
  </style>
</head>
<body>
    <div class="search">
        <form action="{% url 'search'%}" method="get">
<!--            {% csrf_token %}-->
            <input type="text" name="search" placeholder="Поиск товара" >
            <button class="btn " type="submit" name="">
            <i class="material-icons">search</i>
            </button>
        </form>
    </div>
</body>