.a {
color: red;
}
.card {
    height: 300px;
    overflow: hidden:
    }

.card-image {
    height: 250px;
    overflow: hidden;
}
 .first_container{
 max-height: 100px;
 }

.btn.focus, .btn:focus{
}

.dostavka p{
	color:#777777;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 15px;
	text-align: center;
	margin:10px 0;
}
.dostavka .dost_text{
	color:#606060;
}
.time p span
{
	color: #A52A2A;
}
.dostavka .dost_price{
	color:#A52A2A;
}
.dostavka i {
	color:#A52A2A;
}

div .search {
 	width: 100%;
 	height: 45px;
 	background-color: transparent;
 	border:0;
 	display: inline-block;
 	padding: 10px 95px 11px 13px;
}

.search form button{
	position: absolute;;
	bottom: -1px;
	/*color: white;*/
	right: 0px;
    height:100%;
}



@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  text-align: left;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px;
  margin: 0 30px;
}
}

ul.left_menu {
	background:#D3D3D3 linear-gradient(to bottom, 	#606060 13%, #ffffff 0%) repeat scroll 0 0;
	border: 1px solid #d0cfcf;
    border-radius: 3 px;
    margin-top: 10px;
    padding: 16px 10px 16px 0px;
}

ul.left_menu h3{

	border-radius: 5px 10px 0 0;
	color: #fff;
    padding: 1px 17px;
    text-transform: uppercase;

}

ul.left_menu >li>a{
	border-bottom: 1px solid #d0cfcf;
	color: #6b6b6b;
	display: block;
	line-height: 22px;
	padding: 16px 5px 16px 5px;
	font-family: 'Ubuntu Condensed', sans-serif;
  position: relative;
  padding-bottom: 10px;
  margin: 0 8px 0 8px;
  font-size: 14px;
  text-transform: uppercase;
}

ul.left_menu >li>a:hover{
	color:#feb386;
	bacground : transparent;
}

ul.left_menu li.active a{
	color:#800000;
	bacground : transparent;
}

 .search form{
	position: relative;
}

.search{
	padding-bottom: 15px;
}

