 @import "~bootstrap/dist/css/bootstrap.min.css"

@media (max-width: 1160px){
    .container{
        width:100%!important;
    }
    .col-4 {
        width: 100%;
        margin:0;
    }
}
/* LOGO *************************************/
.logo {
padding-left:2px!important;
padding-right:2px!important}
.logo img{
    text-align: center;
    margin-top: 15px;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.main-text{
  font-family: 'Ubuntu Condensed', sans-serif;
}

:root {
    --main-color: #F06F6F;
    --grey-color: #606060;
}
a:focus, a:hover, a:not([href]):hover {
    color: var(--main-color)!important;
    text-decoration: none!important;
    }

a {
font-family: 'Ubuntu Condensed', sans-serif;}

img{
max-width: 100%;
height:auto;
max-height:300px;}

.main-color{
color:var(--main-color);}

.carousel-inner.banner img{
max-height:550px!important;}

.img-block{
padding-right:0px!important;
padding-left:0px!important;
}

.product-text.strong{
text-align:right;
}
.row{
    flex-wrap: wrap;
     margin-right: 0px!important;
     margin-left: 0px!important;
     margin-bottom: 5px!important;
}

.grey-background{
    background-color:var(--grey-color)!important;
}
.wrap_main{
    background-color:var(--main-color, black);
}


input[placeholder]{
    text-overflow:ellipsis;
    font-size:12px!important;
}

.btn:focus, .btn:hover {
    background-color:var(--main-color)!important;
}
input:focus {
    border-bottom:none!important;
}

/*  Dostavka */

.dostavka p{
	color:var(--grey-color);
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 15px;
	text-align: center;
	margin:10px 0;
}
.dostavka .dost_text, .name-form{
	color:white;
}
.dostavka {
background-color: var(--grey-color);
}



/* Search */
div .search {
 	width: 100%;
 	height: 45px;
 	background-color: transparent;
 	border:0;
 	display: inline-block;
 	/*padding: 10px 95px 11px 13px;*/
}
#search {
height: 100%;
}
.search input{
height:100%!important;}

.search form button{
	position: absolute;;
	bottom: 9px;
	right: 0px;
    height:100%;
}

 .search form{
	position: relative;
}

.search{
	padding-bottom: 15px;
}

.search .btn i{
line-height: 3pt!important;
}


/*Main menu*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  text-align: left;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: var(--grey-color);
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main li:first-child a {margin-left: 0px;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 10px;
  margin: 0 34px 0 30px;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}

.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover, .menu-main a:active {color: var(--main-color);}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: var(--main-color);
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}





/*Left menu*/

.left_menu {
	background:#D3D3D3 linear-gradient(to bottom, 	var(--grey-color) 10%, #ffffff 0%) repeat scroll 0 0;
	border: 1px solid #d0cfcf;
    border-radius: 3px;
    margin-top: 10px;
    padding: 0px 5px 3px 0px;;
}

.left_menu h3{

	border-radius: 5px 10px 0 0;
	color: #fff;
    padding: 1px 17px;
    text-transform: uppercase;

}


.left_menu >li>a{
	border-bottom: 1px solid #d0cfcf;
	color: #6b6b6b;
	display: block;
	line-height: 22px;
	padding: 16px 5px 16px 5px;
	font-family: 'Ubuntu Condensed', sans-serif;
  position: relative;
  padding-bottom: 10px;
  margin: 0 8px 0 8px;
  font-size: 17px;
  text-transform: uppercase;
}

.left_menu >li>a.last{
border-bottom: None;
}

.left_menu >li>a:hover, ul.left_menu a.current{
	color:var(--main-color);
	bacground : transparent;
}

.left_menu li.active a{
	color:#800000;
	background : transparent;
}

button.btn.buy-all.feedback-button{
    top: 80%;
    left: 20%;
}
/* main page ///////////////////////////////////////*/
button.btn.buy-all {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 12px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button.btn.buy-all:hover  {
  background-color: var(--main-color);
  color:black;
}

.banner-text p{
    position: absolute;
    top: 8rem;
    left: 5rem;
    font-size:4rem;
}


.main-card:hover{
transition: all 0.4s linear;
transform: scale(1.1,1.1);}

h5.card-title{
color:var(--grey-color);}

/*Feebback form*/

div.forms {
	background:#D3D3D3 linear-gradient(to bottom, 	var(--grey-color) 13%, #ffffff 0%) repeat scroll 0 0;
	border: 1px solid #d0cfcf;
    font-weight:700;
    padding: 16px 10px 16px 0px;

}

h3.name-form{
    border-radius: 5px 10px 0 0;
    color: #fff;
    padding: 1px 1px;
    text-transform: uppercase;
    font-size: 20px!important;
}

form.p-3 {
    padding: 8px!important;
}



.full_info td.quhead {
    display: block;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 25px;
    margin-top: 40px;
    color: #000000;
}


table {
    border-collapse: separate;
    border-spacing: 2px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.full_info .qurowtitle, .full_info .qurowtitle2 {
    width: 60%;
    margin-right: 40px;
}

.full_info .qurow, .full_info .qurow2 {
    border-bottom: 0.5px solid rgba(137, 137, 137, 0.25);
    display: flex;
    padding: 8px 0;
    font-size: 15px;
}

/*paginator*/
.pagination {
    display: inline-block;
}
.center {
    text-align: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd; /* Gray */
    border-radius: 5px;
}

.pagination a.active {
    background-color: var(--main-color);
    color: white;
}

.pagination a:hover:not(.active) {background-color: #9d999d;}

.pagination a {
    margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
}

/* product card */

.payment-methods img{



@media (max-width: 1200px){
    .menu-main a {
      padding: 3px 0 5px;
      margin-right: 20px;
      font-size: 20px;
    }

    p{
    font-size:1rem;}
    .material-icons{
    font-size:1.5rem;}
    .banner-text p{
    font-size:3rem;
}
}
@media (max-width: 992px) {
    .menu-main a {
     font-size: 13px;
    }
    .search form button{
    height: 80%;}
    .search .btn{
    padding-left:3%!important;}
    .feedback{
    display:none;}
    .left_menu >li>a{
    font-size: 10px;
    }
    .left_menu h3 {
    font-size: 12px;
    }
    .left_menu {
    background: #D3D3D3 linear-gradient(to bottom, var(--grey-color) 9%, #ffffff 0%) repeat scroll 0 0;}
     .material-icons{
    font-size:1rem!important;}
        .banner-text p{
    font-size:2rem;
}
}

@media (max-width: 769px) {
    .main-text{
        font-size: 15px;
        }

    .we-work{font-size: 10px;}

    .menu-main a {
     font-size: 10px!important;
     margin-right: 4px;
     margin-left:4px;}

    div .search form{
        height: 25px;
    }

    .search form button {
    bottom: 0px;
    height: 150%;
    width: 13%;
    }
     .left_menu{
    display: none;}

    .full_info td.quhead {
    display: block;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #000000;}

    .full_info .qurow, .full_info .qurow2 {
    padding: 4px 0;
    font-size: 10px;}

    .pagination a {
    padding: 2px 5px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd; /* Gray */
    border-radius: 3px;
}
}

}
 @media (max-width: 576px) {
    .menu-main a {
     font-size: 7px;
     margin-right: 3px;
     margin-left:0px;
     padding: 3px 0 2px
    }
        .menu-main li:after {content: none;}
    div .search form {
        height: 15px;
    }

    div .search {
        height: 25px;}

    button.btn.buy-all {
        font-size: 8px;
        top: 20%;
        left: 70%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #555;
        color: white;
        font-size: 8px;
        padding: 6px 12px;
    }
    .banner-text p{
        font-size:1.6rem;
        top: 5rem;
}
     .left_menu, .left_block, .contact-info-under-search{
    display: none!important;}
    .pagination a {
    padding: 2px 5px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd; /* Gray */
    border-radius: 3px;
}

}


