@media (max-width: 1160px){
    .container{
        width:100%!important;
    }
    .col-4 {
        width: 100%;
        margin:0;
    }
}
/* LOGO *************************************/
.logo img{
    text-align: center;
    margin-top: 15px;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.main-text{
  font-family: 'Ubuntu Condensed', sans-serif;
}


img{
max-width: 100%;
height:auto;}

.img-block{
padding-right:0px!important;
padding-left:0px!important;
}

.product-text.strong{
text-align:right;
}
.row{
    flex-wrap: wrap;
     margin-right: 0px!important;
     margin-left: 0px!important;
     margin-bottom: 5px!important;
}/*
.banner img{
    max-width: 100%;
    height: auto;
    margin-top:10px;
}
.main-color{
    background-color:#feb386!important;
}*/

.grey-background{
    background-color:#606060!important;
}
/*
.my-product{
height: auto!important;
}

.model{
   text-align:right;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.main-text{
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 10px;
  margin: 10 34px 0 30px;
}

.main-text:first-letter {
    font-size: 130%
}
/*/
.wrap_main{
    background-color:#606060;
}
/*
.btn-primary.form-button {
background-color:#9d999d!important;
border-color:#9d999d;
}*/

input[placeholder]{
    text-overflow:ellipsis;
    font-size:12px!important;
}
/*
.forms label{
    font-size:18px!important;
}

.btn-primary.form-button:hover{
border-color:#606060;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 2px solid #feb386!important;
}
input[type=text] {
    height: 90%!important;
}*/
.btn:focus, .btn:hover {
    background-color:#feb386!important;
}
input:focus {
    border-bottom:none!important;
}/*
border-bottom:
.a {
color: red;
}
.card {
    height: 200px;
    overflow: hidden;
    }

.card-image {
    height: 250px;
    overflow: hidden;
}
 .first_container{
 max-height: 100px;
 }
.high-row{
    margin-top:10px!important;
    margin-bottom:0px!important;
}

.img{
    text-align: center;
}

.main_block{
margin-right:20px!important;
margin-right:20px!import;
}

.logo img{
    text-align: center;
    padding-left: 35px;
}
.btn.focus, .btn:focus{
}

.card-image.product a img {
	position: relative;
	padding: 7%;
	overflow: hidden;
}
*/




/*  Dostavka */

.dostavka p{
	color:#606060;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 15px;
	text-align: center;
	margin:10px 0;
}
.dostavka .dost_text{
	color:white;
}



/* Search */
div .search {
 	width: 100%;
 	height: 45px;
 	background-color: transparent;
 	border:0;
 	display: inline-block;
 	/*padding: 10px 95px 11px 13px;*/
}
#search {
height: 100%;
}
.search input{
height:100%!important;}

.search form button{
	position: absolute;;
	bottom: 9px;
	right: 0px;
    height:100%;
}

 .search form{
	position: relative;
}

.search{
	padding-bottom: 15px;
}

.search .btn i{
line-height: 3pt!important;
}


/*Main menu*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  text-align: left;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main li:first-child a {margin-left: 0px;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 10px;
  margin: 0 34px 0 30px;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}

.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover, .menu-main a:active {color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}





/*Left menu*/

.left_menu {
	background:#D3D3D3 linear-gradient(to bottom, 	#606060 12%, #ffffff 0%) repeat scroll 0 0;
	border: 1px solid #d0cfcf;
    border-radius: 3px;
    margin-top: 10px;
    padding: 16px 10px 16px 0px;
}

.left_menu h3{

	border-radius: 5px 10px 0 0;
	color: #fff;
    padding: 1px 17px;
    text-transform: uppercase;

}

.left_menu >li>a{
	border-bottom: 1px solid #d0cfcf;
	color: #6b6b6b;
	display: block;
	line-height: 22px;
	padding: 16px 5px 16px 5px;
	font-family: 'Ubuntu Condensed', sans-serif;
  position: relative;
  padding-bottom: 10px;
  margin: 0 8px 0 8px;
  font-size: 17px;
  text-transform: uppercase;
}

.left_menu >li>a:hover, ul.left_menu a.current{
	color:#feb386;
	bacground : transparent;
}

.left_menu li.active a{
	color:#800000;
	background : transparent;
}

button.btn.buy-all.feedback-button{
    top: 80%;
    left: 20%;
}
/* main page ///////////////////////////////////////*/
button.btn.buy-all {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 12px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button.btn.buy-all:hover  {
  background-color: #feb386;
  color:black;
}

.banner-text p{
    position: absolute;
    top: 8rem;
    left: 5rem;
    font-size:4rem;
}


.main-card:hover{
transition: all 0.4s linear;
transform: scale(1.1,1.1);}

h5.card-title{
color:#606060;}
}
/*Feebback form*/
/*
div.forms {
	background:#D3D3D3 linear-gradient(to bottom, 	#606060 13%, #ffffff 0%) repeat scroll 0 0;
	border: 1px solid #d0cfcf;
    font-weight:700;
    padding: 16px 10px 16px 0px;

}

h4.name-form{
    font-family: 'Ubuntu Condensed', sans-serif;
    border-radius: 5px 10px 0 0;
    color: #606060;
    text-transform: uppercase;
}

form.p-3 {
    padding: 8px!important;
}
*/























@media (max-width: 1200px){
    .menu-main a {
      padding: 3px 0 5px;
      margin-right: 20px;
      font-size: 20px;
    }

    p{
    font-size:1rem;}
    .material-icons{
    font-size:1.5rem;}
    .banner-text p{
    font-size:3rem;
}
}
@media (max-width: 992px) {
    .menu-main a {
     font-size: 13px;
    }
    .search form button{
    height: 80%;}
    .search .btn{
    padding-left:3%!important;}
    .feedback{
    display:none;}
    .left_menu >li>a{
    font-size: 10px;
    }
    .left_menu h3 {
    font-size: 12px;
    }
    .left_menu {
    background: #D3D3D3 linear-gradient(to bottom, #606060 9%, #ffffff 0%) repeat scroll 0 0;}
     .material-icons{
    font-size:1rem!important;}
        .banner-text p{
    font-size:2rem;
}
}

@media (max-width: 769px) {
    .main-text{
        font-size: 10px;
        }

    .menu-main a {
     font-size: 11px;
     margin-right: 5px;
     margin-left:5px;
    }
    div .search form{
        height: 25px;
    }

    .search form button {
    bottom: 0px;
    height: 150%;
    width: 13%;
    }
     .left_menu{
    display: none;}

}
 @media (max-width: 576px) {
    .menu-main a {
     font-size: 9px;
     margin-right: 5px;
     margin-left:0px;
     padding: 3px 0 2px
    }
    .menu-main li:after {content: none;}
    div .search form {
        height: 15px;
    }
    div .search {
    height: 25px;}

button.btn.buy-all {
    font-size: 8px;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 8px;
    padding: 6px 12px;
}
        .banner-text p{
    font-size:1.6rem;
    top: 5rem;
}







